@model VSBookingProject.Models.RoomViewModel

@{
    ViewData["Title"] = "RoomDetails";
}

<h1>Room Details</h1>

<table>
    @foreach(var p in Model.Pictures)
    {
        <tr>
            <td>
                <img src=@p.Url alt="image room"/>
            </td>
        </tr>
    }
</table>

<ul>
    <li>Number of beds : @Model.Room.Type</li>
    <li>Description : @Model.Room.Description</li>
    <li>Price : @Model.Room.Price</li>
    <li>TV ? @Model.Room.HasTv</li>
    <li>Hair dryer ? @Model.Room.HasHairDryer</li>   
</ul>

<div>
    <h4>RoomViewModel</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    @Html.ActionLink("reserve", "Create", "ReservationController", new { id = Model.Room.IdRoom }) |
    <a asp-action="Index">Back to List</a>
</div>
